.no-spinner {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  -moz-appearance: textfield;
  appearance: textfield;
}

::ng-deep .form-field-compact .mat-mdc-form-field-subscript-wrapper,
::ng-deep .form-field-compact .mat-mdc-form-field-bottom-align {
  display: none !important;
}

::ng-deep .form-field-compact .mat-mdc-form-field-infix {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  min-height: 30px !important;
}

.input-compact {
  font-size: 0.95rem;
  width: 100%;
}

.icon-compact {
  font-size: 21px;
  padding-right: 2px;
  vertical-align: middle;
}

.largura-fixa-180 {
  min-width: 180px;
  max-width: 180px;
  width: 180px;
}

.largura-maxima-180 {
  max-width: 180px;
  width: 180px;
}
