.no-spinner {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  -moz-appearance: textfield;
  appearance: textfield;
}

.input-compact {
  font-size: 0.95rem;
  width: 100%;
}

.icon-compact {
  font-size: 21px;
  padding-right: 2px;
  vertical-align: middle;
}

.largura-fixa-180 {
  min-width: 180px;
  max-width: 180px;
  width: 180px;
}

.largura-maxima-300 {
  max-width: 300px;
  width: 300px;
}
